.sub-card {
    @include alignContent;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: $card-height-smallest;
        padding: $smallest $small;
        margin-bottom: $default;
        background-color: var(--card);
        border-radius: 0.5rem;
        @include card;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__main-text {
        font-size: $span-smallest;
        color: var(--main-text);
        font-weight: 700;
    }

    &__statistics {
        display: flex;
        align-items: center;

        &-text {
            margin-left: 0.5rem;
            font-weight: 700;
            color: var(--text);
        }
    }

    @media only screen and (min-width: 375px) {
        &__statistics {
            &-text {
                font-size: $p-medium;
            }
        }
    }

    @media only screen and (min-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 $default;

        &__statistics {
            &-text {
                font-size: $p-small;
            }
        }
    }

    @media only screen and (min-width: 700px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-rows: 0;
    }

    @media only screen and (min-width: 1024px) {
        &__statistics-text {
            font-size: $p-medium;
        }
    }

    @media only screen and (min-width: 1280px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        &__container {
            height: $card-height-small;
            padding: $small $default;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                @include cardLight;
            }
            
            &.card-dark {
                &:hover {
                    @include cardDark;
                }
            }
        }

        &__main-text {
            font-size: $span-small;
        }
    }

    @media only screen and (min-width: 1600px) {
        &__main-text {
            font-size: $span-small;
        }
    }
}
